@import url("https://fonts.googleapis.com/css2?family=Mystery+Quest&display=swap");

.App {
  background-color: antiquewhite;
  width: 100vw;
  height: 100vh;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.heading {
  font-family: "Mystery Quest", cursive;
  color: black;
  font-size: 50px;
  text-align: center;
  z-index: 1;
  margin: 10px;
}

.ticket_fields {
  display: flex;
  flex-direction: row;
  width: 80%;
  align-items: center;
  gap: 5%;
}
